<div class="flex-container form-width fade-in">
    <div id="main-content" class="flex-container-col">
        <mat-card class="go-dis-card mat-elevation-z13">
            <mat-card-header>
                <mat-card-title><h1>Register User <mat-icon class="login-icon">app_registration</mat-icon></h1></mat-card-title>
               
            </mat-card-header>
            <form (submit)="onRegisterAdmin()" #registerForm="ngForm">
                <mat-card-content>
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="First Name" name="firstname" [(ngModel)]="user.fname">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="user.lname">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email" name="email" [(ngModel)]="user.email">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="User Name" name="username" [(ngModel)]="user.username">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Enter your password" name="password" [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="User Role" name="userRole" [(ngModel)]="user.userRole">
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button mat-raised-button class="a-button">Submit</button>
                    <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
                </mat-card-actions>
            </form>
            <app-snack-bar [message]="[snackBarMssg, snackBarAction]"></app-snack-bar>
        </mat-card>
    </div>
</div>
