<mat-card class="sidebar-card mat-elevation-z13">
    <mat-card-header id="sidebar-card">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Angella Decker</mat-card-title>
        <mat-card-subtitle>About me</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="#" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
        <p>
            I am a Disney Mom living in central Florida with a deep love for all things Disney. From the theme parks and resorts to the restaurants and cruise ships, I have explored every inch of the magical world of Disney. With a wealth of knowledge and insider tips, I am the go-to person amongst my friends and family for all things Disney-related.
        </p>
    </mat-card-content>
    <mat-card-actions>
       
    </mat-card-actions>
</mat-card>
