<mat-card class="sidebar-card mat-elevation-z13">
    <mat-card-header id="sidebar-card">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Angella Decker</mat-card-title>
        <mat-card-subtitle>About me</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="#" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
        <p>
            Instantly break out into full speed gallop across the house for no reason always hungry. Flex claws on the human's belly and purr like a lawnmower sun bathe stinky cat or bring your owner a dead bird or i could pee on this if i had the energy and claw drapes disappear
        </p>
    </mat-card-content>
    <mat-card-actions>
       
    </mat-card-actions>
</mat-card>
