<div id="about" class="form-width fade-in">
    <div id="main-content" class="">
        <mat-card class="mat-elevation-z13">
            <div class="custom-header">
                <mat-icon>face</mat-icon>
            </div>
            <!-- <img mat-card-image src="../../../assets/img/CastawayCay.jpg" alt="Mangnolia Golf"> -->
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><h1>Our Mission <mat-icon>sentiment_satisfied_alt</mat-icon></h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Our Disney vacation blog is dedicated to providing readers with valuable information, tips, and recommendations for planning and enjoying the ultimate Disney vacation experience. We strive to inspire and guide our readers through every step of the journey, from choosing the perfect resort and park tickets, to exploring the parks and attractions, to making the most of dining, entertainment, and shopping options. Our mission is to help families create unforgettable memories that will last a lifetime, by sharing our own experiences, insights, and expertise in a fun and engaging way. Whether you're a first-time visitor or a seasoned Disney fan, we are here to help you make the most of your magical vacation.
                </p>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
