
<div class="form-width fade-in">
    <div id="main-content" class="">
        <mat-card class="mat-elevation-z13">
            <div class="custom-header">
                <mat-icon>assistant_direction</mat-icon>
            </div>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><h1>Our Mission <mat-icon>sentiment_satisfied_alt</mat-icon></h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button class="a-button" mat-button mat-raised-button (click)="goToContentCreator()" >Content Creator</button>
                <button class="a-button" mat-button mat-raised-button (click)="goToManageMessages()">Manage Messages</button>
                <button mat-button mat-raised-button (click)="cancel()">Cancel</button>
            </mat-card-actions>
        </mat-card>
        </div>
    </div>
