@import'../_variables.scss';

div#gdb-hero {
    height: 340px;
    background-color: $d-dark;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
    font-size: 2em;
    font-family: Roboto;
    background-image: url(../../assets/img/h_studios.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    box-shadow: 0 16px 21px 9px rgba(0, 0, 0, 0.2);
    border-bottom: solid 3px $d-dark;



    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 340px;
        background-color: $d-dark;
        opacity: 0.575;
        display: block;
        content: " ";
        color: aliceblue;
        animation: herobackground .95s ease-out forwards;
        //animation-delay: 2s;

        @keyframes herobackground {
            from {
                opacity: 0.55;
            }

            to {
                opacity: 0.65;
            }
        }
    }

    img {
        filter: blur(5px);
    }

    ul {
        position: relative;
        z-index: 3;
        top: -40px;
        height: 50px;
        display: flex;
        animation: heronav 1.75s ease-out forwards;
        animation-delay: 2s;
        padding-left: 0;

        @keyframes heronav {
            0% {
                top: -40px;
                opacity: 0;
            }

            25% {
                top: -40px;
                opacity: .25;
            }

            50% {
                top: -40px;
                opacity: 0.75;
            }

            75% {
                top: 160px;
                opacity: .25;
            }

            100% {
                top: 155px;
                opacity: 100;
            }
        }

        li {
            line-height: 1.5rem;
            list-style-type: none;
            display: inline;
            padding: 0 1rem;
            //filter: drop-shadow(2px 4px 6px #111);

            .mat-mini-fab {
                color: #fff;
            }
            span#clr-change1 > .mat-mini-fab {
                background-color: $icon-yellow;
            }

            span#clr-change2 > .mat-mini-fab {
                background-color: $icon-red;
            }

            span#clr-change3 > .mat-mini-fab {
                background-color: $icon-green;
            }

            span#clr-change4 > .mat-mini-fab {
                background-color: $icon-blue;
            }

            > a {
                font-size: 1rem;
                color: #fff;

                :visited {
                    color: #fff;
                }
            }

            a.active {
                text-decoration: underline;
            }
        }
    }
    @media(max-width: '1024px') {
  
        text-align: left;
        ul {
            top: -150px;
            display: block;
            @keyframes heronav {
                0% {
                    top: -150px;
                    opacity: 0;
                }
    
                25% {
                    top: -150px;
                    opacity: .25;
                }
    
                50% {
                    top: -150px;
                    opacity: 0.75;
                }
    
                75% {
                    top: 160px;
                    opacity: .25;
                }
    
                100% {
                    top: 80px;
                    opacity: 100;
                }
            }
            li {
                display: block;
                margin-bottom: .75rem;
            }
        }
    
}
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {

        text-align: left;
        ul {
            top: -150px;
            display: block;
            @keyframes heronav {
                0% {
                    top: -150px;
                    opacity: 0;
                }
    
                25% {
                    top: -150px;
                    opacity: .25;
                }
    
                50% {
                    top: -150px;
                    opacity: 0.75;
                }
    
                75% {
                    top: 160px;
                    opacity: .25;
                }
    
                100% {
                    top: 80px;
                    opacity: 100;
                }
            }
            li {
                display: block;
                margin-bottom: .75rem;
            }
        }
    
 }
}

