// variables.scss
$primary: #03a9f4;
$p-light: #67daff;
$p-dark: #007ac1;

////// purple theme

$purple-p: #ab47bc;
$purple-l: #df78ef;
$purple-d: #790e8b;
$purple-n: #e1bee7;

$sm-spacer: .125 1 auto;

$dark-gray: rgb(96, 125, 139);

$button: #f48fb1; 

$purple: #673ab7;

$y-yellow: #ffd740;

$secondary: #4caf50;

$dis-gold: rgb(207,205,166);




///////Daddy Theme
$d-primary: #5d99c6;
$d-light: #90caf9;
$d-dark: #266b95;
$ds-secondary: #cfd8dc;
$ds-light: #ffffff;
$ds-dark: #9ea7aa;

$after-gradient: linear-gradient(to right top, #b0bec5, #8fa9b8, #6e94ac, #4d80a0, #266b95);

$after-gradient1: linear-gradient(to right top, #78909c, #617985, #4b636e, #364d58, #213943);

$after-gradient2: radial-gradient(circle, #e2f1f8, #c9d7de, #b0bec5, #98a6ad, #808e95);

$footer-clr: #616161;
$footer-ltr: #7B7B7B;
$disney-gold: #cfcda6;
$golder: #FFE1A8;

$castle-block: #cdc9bd;

$dark-gray-footer: #4b636e;
$light-gray-after: #b0bec5;






/////Abbie theme
$a-primary: #e040fb;
$a-light: #ff79ff;
$a-dark: #aa00c7;

$a-secondary: #673ab7;
$as-light: #9a67ea;
$as-dark:#320b86;

$icon-yellow: #ff9800;
$icon-green: #4caf50;
$icon-red: #f44336;
$icon-blue: #00bcd4;

$button-font: #fff;

$gutters-main: 1rem 7rem;

$shadow: 0 2px 6px 3px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

$shadow-footer: 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.2);