<div id="news-feed" class="flex-container">
    <h2>The News</h2>
    
    <mat-accordion *ngIf="cards$ | async as cards">
        <span *ngFor="let c of cards; index as i">
            <mat-expansion-panel id="panel{{ i + 1 }}" class="mat-expanded panel" [expanded]="step == 2" (opened)="step">
                <mat-expansion-panel-header class="mat-expanded">
                    <mat-panel-title>
                        {{ c.cardTitle }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <img src="../../assets/img/{{c.cardImg}}.jpg" />
               <span *ngFor="let x of c.cardContents">
                   <p>{{ x.paraOne }}</p>
               </span>
            </mat-expansion-panel>
        </span>
    </mat-accordion>
</div>