@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');
@import'../_variables.scss';

div#news-feed {
    display: flex;

    h2 {
        font-size: 1.5rem;
        color: #fff;
        font-family: 'UnifrakturCook', cursive;
        text-shadow: 2px 2px #555;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 20px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10px;
    }


    .mat-accordion {
        background-color: $ds-secondary;
        color: #fff;

        .mat-expansion-panel {
            background-color: $d-dark;
            color: #fff !important;
            max-width: 250px;
            overflow: hidden;
        }

    }

    .mat-expansion-panel-body {
        padding: 0 24px 16px;
        background-color: $ds-dark;

        img {
            max-width: 210px;
        }
    }
}
